#username {
    color: white;
    text-align: center;
}

#login-button-wrapper {
    margin-left: 0;
    padding: 0;
    width: 100%;
}

#login-button {
    background-color: rgb(49, 181, 199);
}

#login-button:hover, #login-button:focus {
    background-color: rgb(35, 147, 161);
}


#sign-up-text {
    color: white;
}

