#sign-up-form {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sign-form-title {
    left: 0;
    margin-left: 0;
    width: 100%;
    text-align: center;
    color: white;
}

.pass-input, #user-input {
    display: flex;
    flex-direction: row;
    height: 2rem;
    width: 22.5rem;
}
.pass-input {
    
}


.pass-input > *, #user-input > *{
    width: 100%;
    padding: 0.5rem; 
    padding-right: 1em;
    font-family: inherit;
    border-radius: 0.25rem;
    border: 0;
}

#username-input, #password {
    padding-left: 2rem;
    width: 100%;
}

#user-icon, #pass-icon, #seepass-button {
    position: absolute;
    left: 0.75rem;
    width: 5%;
    color: gray;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif !important;
}
#pass-icon {
    left: 0.7rem;
}


#seepass-button {
    position: absolute;
    left: 87.5% !important;
    width: 10%;
    height: 50%;
    /* left: -5% !important; */
    background-color: white;
    color: gray;
    margin-top: 0rem;
    left: 0;
} 


#seepass-button:focus {
    outline:none;
}

@media screen and (min-width: 800px) {
    .pass-input, #user-input {
        width: 40rem !important;
        left: calc(45% - 20rem) !important;
    }
}



